.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav > * {
  margin-left: 20px; 
  margin-right: 20px; 
}

/* Record */
.record {
  position: relative;
  display: flex;
  justify-content: center;
}

.record > h3 {
  margin: 0;
}

.record > p {
  display: flex;
  margin: 0;
  right: 0;
  top: 0;
  background: black;
  color: white;
  visibility: hidden;
  margin-left: 5px;
  padding: 0px 7px;
  cursor: pointer;
  position: absolute;
  height: 100%;
}

.record > p span {
  padding: 0 3px;
}

.record:hover > p {
  visibility: visible;
}

.record:hover > p span:hover {
  background: white;
  color: black;
}

/* Movie Update */
.movie-update {
  display: flex;
  justify-content: center;
}

.movie-update form {
  width: 40%
}

.movie-update form > * {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-update form label {
  display: block;
}

.movie-update form .record {
  width: fit-content;
  display: flex;
  justify-content: center;
}


