.App {
  text-align: center;
}

nav > * {
  margin-left: 20px; 
  margin-right: 20px; 
}

nav a {
  color: black;
}

nav a:hover {
  color: blue;
}

/* Record */
.record {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.record * {
  display: flex;
  align-items: center;
}

.record > h3 {
  margin: 0 5px 0 0;
}

.record > span {
  padding: 0 8px;
  cursor: pointer;
}

.record img {
  height: 25px;
  width: 25px;
}

.record img:hover {
  background: blue;
}

.record > span:hover {
  background: blue;
}

/* New Record */
.new-record {
  display: flex;
  flex-direction: column;
}

/* Actor Update */
.actor-update label {
  display: block;
  margin-top: 20px;
}

/* Movie Update */
.movie-update {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}

.movie-update > * {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-update label {
  display: block;
}

.relatedGroup {
  display: flex;
}

.relatedGroup span {
  cursor: pointer;
  margin-left: 5px;
}



